@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cal-sans-regular {
  font-family: "Cal Sans", sans-serif !important;
  font-weight: 800 !important;
  font-style: normal !important;
}

.cal-sans-regular-400 {
  font-family: "Cal Sans", sans-serif !important;
  font-weight: 400 !important;
  font-style: normal !important;
  font-size: 1.5rem !important;
}

.background-10 {
  background: #43222e;
}